<ngt-mesh
  (beforeRender)="onCubeBeforeRender($event)"
  (click)="active = !active"
  (pointerover)="hovered = true"
  (pointerout)="hovered = false"
  [position]="position"
  [scale]="scale"
  [castShadow]="true"
  [ref]="boxRef.ref"
>
  <ngt-box-geometry [args]="args"></ngt-box-geometry>
  <ngt-mesh-standard-material
    [map]="texture$ | async"
    [aoMap]="textureAo$ | async"
    [normalMap]="textureNormal$ | async"
    [roughnessMap]="textureRoughness$ | async"
    *ngFor="let transparent of transparents; index as i"
    [side]="size"
    [attach]="['material', '' + i]"
    [color]="'tomato'"
    [transparent]="transparent"
    [opacity]="i == 0 || i == 2 || i == 4 ? 0 : 1"
    wireframe="{{ wireframe ?? false }}"
  ></ngt-mesh-standard-material>
</ngt-mesh>
t
