<ng-container *ngIf="adam$ | async as adam">
<ngt-group [ref]="body.ref" [scale]="2" ><ngt-mesh

    (click)="getAllCoins()"

    [geometry]="adam.nodes.EyeLeft.geometry"
    [material]="adam.materials.Wolf3D_Eye"
    
    

  

    [rotation]="[0, 0, 0]"

    [castShadow]="true"

  ></ngt-mesh>

  
  <ngt-mesh
    (click)="getAllCoins()"
 
    [geometry]="adam.nodes.Wolf3D_Body.geometry"
    [material]="adam.materials.Wolf3D_Body"
   
    [rotation]="[0, 0, 0]"
    [castShadow]="true"
  ></ngt-mesh>

  <ngt-mesh
  (click)="getAllCoins()"
  
  [geometry]="adam.nodes.EyeRight.geometry"
  [material]="adam.materials.Wolf3D_Eye"
 
  [rotation]="[0, 0, 0]"
  [castShadow]="true"
></ngt-mesh>

<ngt-mesh
(click)="getAllCoins()"

[geometry]="adam.nodes.Wolf3D_Glasses.geometry"
[material]="adam.materials.Wolf3D_Glasses"

[rotation]="[0, 0, 0]"
[castShadow]="true"
></ngt-mesh>

<ngt-mesh
(click)="getAllCoins()"

[geometry]="adam.nodes.Wolf3D_Outfit_Bottom.geometry"
[material]="adam.materials.Wolf3D_Outfit_Bottom"

[rotation]="[0, 0, 0]"
[castShadow]="true"
></ngt-mesh>

<ngt-mesh
(click)="getAllCoins()"

[geometry]="adam.nodes.Wolf3D_Outfit_Footwear.geometry"
[material]="adam.materials.Wolf3D_Outfit_Footwear"

[rotation]="[0, 0, 0]"
[castShadow]="true"
></ngt-mesh>

<ngt-mesh
(click)="getAllCoins()"

[geometry]="adam.nodes.Wolf3D_Outfit_Top.geometry"
[material]="adam.materials.Wolf3D_Outfit_Top"

[rotation]="[0, 0, 0]"
[castShadow]="true"
></ngt-mesh>

<ngt-mesh
(click)="getAllCoins()"

[geometry]="adam.nodes.Wolf3D_Hair.geometry"
[material]="adam.materials.Wolf3D_Hair"

[rotation]="[0, 0, 0]"
[castShadow]="true"
></ngt-mesh>

<ngt-mesh
(click)="getAllCoins()"

[geometry]="adam.nodes.Wolf3D_Head.geometry"
[material]="adam.materials.Wolf3D_Skin"

[rotation]="[0, 0, 0]"
[castShadow]="true"
></ngt-mesh>

<ngt-mesh
(click)="getAllCoins()"

[geometry]="adam.nodes.Wolf3D_Teeth.geometry"
[material]="adam.materials.Wolf3D_Teeth"


[rotation]="[0, 0, 0]"
[castShadow]="true"
></ngt-mesh>
</ngt-group>
</ng-container>




<!--<ng-container *ngIf="adam$ | async as adam">
  <ngt-mesh
  (beforeRender)="onCubeBeforeRender($event)"
  (click)="active = !active"
  (pointerover)="hovered = true"
  (pointerout)="hovered = false"
  [position]="position"
  [scale]="scale"
  [castShadow]="true"
  
  (click)="getAllCoins()"
  [ref]="sphereRef.ref"
   
>
  <ngt-sphere-geometry [args]="[1]"></ngt-sphere-geometry>
  <ngt-mesh-standard-material
    [color]="'yellow'"
    wireframe="{{ wireframe ?? false }}"
  ></ngt-mesh-standard-material>
</ngt-mesh>

 
</ng-container>

[geometry]="adam.nodes.shoe.geometry"-->